{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container mt-5 header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- <div class="container-fluid  h-100">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=First slide" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>




    <div class="container-fluid text-white">
        <h1 class="text-left pl-2">World of Gems</h1>
        <h3 class="col-md-8">Explore our collection of
            <br>
            colorful Gemstones.</h3>

        <a href="{% url 'products' %}"><button class="btn btn-outline-warning btn-lg m-4 data-bs-toggle=" offcanvas" data-bs-target="#main-nav"
            aria-controls="main-nav" type="button">Shop Now</button> </a>       

</div> -->



<div class="container  h-40 mt-3 mb-3">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
		<div class="carousel-item active">
		  <img class="d-block w-100" src="media/two_pink_diamonds_staying_side_by_side.webp" alt="First slide">
		  <div class="carousel-caption mt-5">
			<h2><strong>SALES%</strong></h2>
			<p>20% OFF THIS BEAUTIFUL GEM</p>
			<div class="p-auto">
				<a href="{% url 'products' %}"
				  class="shop-now-button btn-lg btn-sm btn bg-warning rounded text-uppercase text-black font-weight-bold py-2"><h2>Shop Now</h2>
				  
				</a>
			</div>
		  </div>
		</div>
		<div class="carousel-item">
		  <img class="d-block w-100" src="media/three_gemstones_on_a_green_suede_clothe.webp" alt="Second slide">
		  <div class="carousel-caption mt-5">
			<h2><strong>SALES%</strong></h2>
			<p>20% OFF THIS BEAUTIFUL GEM</p>
			<div class="p-auto">
			  <h4>
				<a href="{% url 'products' %}"
				  class="shop-now-button btn bg-warning btn rounded text-uppercase text-black font-weight-bold py-2">Shop
				  Now</a>
			  </h4>
			</div>
		  </div>
		</div>
		<div class="carousel-item">
		  <img class="d-block w-100" src="media/several_colorful_gemstones.webp" alt="Third slide">
		  <div class="carousel-caption mt-5">
			<h2><strong>SALES%</strong></h2>
			<p>20% OFF THIS BEAUTIFUL GEM</p>
			<div class="p-auto">
			  <h4>
				<a href="{% url 'products' %}"
				  class="shop-now-button btn bg-warning btn rounded text-uppercase text-black font-weight-bold py-2">Shop
				  Now</a>
			  </h4>
			</div>
		  </div>
		</div>
		<div class="carousel-item">
		  <img class="d-block w-100" src="media/diamond_on_a_gem_picker.webp" alt="Third slide">
		  <div class="carousel-caption mt-5">
			<h2><strong>SALES%</strong></h2>
			<p>20% OFF THIS BEAUTIFUL GEM</p>
			<div class="p-auto">
			  <h4>
				<a href="{% url 'products' %}"
				  class="shop-now-button btn bg-warning btn rounded text-uppercase text-black font-weight-bold py-2">Shop
				  Now</a>
			  </h4>
			</div>
		  </div>
		</div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon text-warning" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next text-warning" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only text-warning">Next</span>
	  </a>
	</div>
	<div class="row h-100">
	  <div class="col-7 col-md-6 my-auto">
		<h1 class="display-4 logo-font text-white">
		  The Immortality of beauty is embended in a Gem, have one today.
		</h1>
	  </div>
	</div>
  </div>
{% endblock %}

{% block page_footer %}
<div class="container mt-5 header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    const fadeElements = document.querySelectorAll('.content');

    // Fade .content element in
    function scrollAnim() {
        let windowHt = window.innerHeight;
        fadeElements.forEach(element => {
            let elementPos = element.getBoundingClientRect().top;
            if (elementPos <= windowHt / 1.3) {
                element.classList.add('faded-in');
            }
        });
    }
    document.addEventListener("DOMContentLoaded", scrollAnim);

    window.addEventListener('scroll', scrollAnim);
</script>
{% endblock %}