
        <div id="delivery-banner" class="row text-center border-bottom d-flex d-sm-block d-lg-none">

            <div class="col text-light pl-3 py-1">
                <ul class="text-left list-inline list-unstyled">
                    <li class="list-inline-item"><i class="fab fa-facebook-f fa-lg text-primary"></i></li>
                    <li class="list-inline-item"><i class="fab fa-instagram fa-lg text-danger"></i></li>
                    <li class="list-inline-item"><i class="fab fa-twitter fa-lg text-info"></i></li>
                    <li class="list-inline-item"><i class="fab fa-github fa-lg"></i></li>
                 
                </ul>
                
            </div>

            <div class="col text-light py-1">
                <h6 class="logo-font my-1 font-weight">Free shipping and returns on orders over
                    ${{ free_delivery_threshold }} !<i class="fas fa-shipping-fast text-success"></i></h6>
            </div>

            <div class="col text-light pl-3 py-1">
                <ul class="text-right list-inline list-unstyled">
                    <li class="list-inline-item"><i class="fas fa-envelope"></i><small> E-mail Us</small>  |</li> 
                    <li class="list-inline-item"><i class="fas fa-phone"></i><small> Call Us: +460000000000</small></li>
                
                 
                </ul>
                
            </div>
            

        </div>