<div class="collapse navbar-collapse bg-warning" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="precious-stones-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Precious Stones
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="precious-stones-link">
                <a href="" class="dropdown-item">Blue Sapphire</a>
                <a href="" class="dropdown-item">Diamond</a>
                <a href="" class="dropdown-item">Emerald</a>
                <a href="" class="dropdown-item">Ruby</a>
                <a href="" class="dropdown-item">All Precious Stones</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="semi-precious-stones-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Semi Precious Stones
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="semi-precious-stones-link">
                <a href="" class="dropdown-item">Alexandrite</a>
                <a href="" class="dropdown-item">Amethyst</a>
                <a href="" class="dropdown-item">Aquamarine</a>
                <a href="" class="dropdown-item">Citrine</a>
                <a href="" class="dropdown-item">Garnet Red</a>
                <a href="" class="dropdown-item">Jade</a>
                <a href="" class="dropdown-item">Morganite</a>
                <a href="" class="dropdown-item">Peridot</a>
                <a href="" class="dropdown-item">Spinel</a>
                <a href="" class="dropdown-item">Sunstone</a>
                <a href="" class="dropdown-item">Tanzanite</a>
                <a href="" class="dropdown-item">Topaz</a>
                <a href="" class="dropdown-item">Tourmaline</a>
                <a href="" class="dropdown-item">All Semi Precious Stones</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0 bg-warning" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>