<div class="row bg-black d-block d-lg-none d-inline">
  <div class="float-left">
    <i class="fa-solid fa-bars text-white fa-lg" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"></i>
  </div>

  <div class=" text-center py-2">
    <a href="" class="text-decoration-none">
      <h3 class="fw-bold text-warning">GemsOfParis</h3>
    </a>
  </div>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>Try scrolling the rest of the page to see this option in action.</p>
    </div>
  </div>


</div>
</div>

<nav class="container-sm navbar bg-black fixed-bottom d-block d-lg-none">
  <ul class="d-flex justify-content-between">
    <li class="list-inline-item">
      <a class="nav-link text-white" href="#">
        <div class="text-center">
          <div><i class="fas fa-home"></i></div>
        </div>
      </a>
    </li>
    <!-- Search Icon -->
    <li class="list-inline-item">
      <a class="text-white nav-link" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center">
          <div><i class="fas fa-search"></i></div>
        </div>
      </a>
      <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
        <form class="form" method="GET" action="#">
          <div class="input-group w-100">
            <input class="form-control border border-black" type="text" name="q" placeholder="Search our site">
            <div class="input-group-append">
              <button class="form-control form-control btn btn-black" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>
    <!-- My Account Icon -->
    <li class="list-inline-item dropdown">
      <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center ">
          <div><i class="fas fa-user"></i></div>
        </div>
      </a>
      <div class="dropdown-menu font-weight-bold border-0" aria-labelledby="user-options">
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="#" class="dropdown-item font-weight-bold">Product Management</a>
        {% endif %}
        <a href="#" class="dropdown-item">My Profile</a>
        <a href="#" class="dropdown-item font-weight-bold">Logout</a>
        {% else %}
        <a href="#" class="dropdown-item font-weight-bold">Register</a>
        <a href="#" class="dropdown-item font-weight-bold">Login</a>
        {% endif %}
      </div>
    </li>
    <!-- favorite Icon -->
    <li class="list-inline-item">
      <a class="nav-link text-white" href="#">
        <div class="text-center">
          <div><i class="fas fa-heart"></i></div>
        </div>
      </a>
    </li>
    <!-- Shopping Bag Icon -->
    <li class="list-inline-item">
      <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link " href="#">
        <div class="text-center text-white">
          <div><i class="fa-solid fa-basket-shopping"></i></div>
        </div>
      </a>
    </li>
  </ul>
</nav>
