<div class="row bg-warning fixed-bottom">
    <nav class="navbar navbar-expand-lg navbar-light w-100">

        <ul class="list-inline d-flex justify-content-around flex-fill mb-0">
            <!-- Back to Homepage -->
            <li class="list-inline-item">
                <a class="nav-link text-black d-block d-lg-none" href="{% url 'home' %}">
                    <div class="text-center">
                        <div><i class="fas fa-home"></i></div>
                    </div>
                </a>
            </li>
            
            <!-- User Account -->
            <li class="list-inline-item dropdown dropup">
                <a class="nav-link text-black d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fas fa-user"></i></div>
                    </div>
                </a>
                <div class="dropdown-menu font-weight-bold border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item font-weight-bold">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item font-weight-bold">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item font-weight-bold">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item font-weight-bold">Login</a>
                    {% endif %}
                </div>
            </li>
            <!-- favorite Icon -->
            <li class="list-inline-item">
                <a class="nav-link text-black d-block d-lg-none" href="">
                    <div class="text-center">
                        <div><i class="fas fa-heart"></i></div>
                    </div>
                </a>
            </li>
            <!-- Shopping cart -->
            <li class="list-inline-item">
                <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
                    href="">
                    <div class="text-center">
                        <div><i class="fas fa-shopping-basket"></i></div>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>