{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h1 class="logo-font text-black text-center">Shipping and Delivery</h1>
            <hr>

        </div>

        <div>
            
            </p>
            Express delivery
            At Gems Of Paris, we offer express delivery for $50 to anywhere around the world. 
            Please,Remember to add your mobile number to your user account, then the shipping 
            deliver agent can get in touch can get in touch with you if necessary. 
            On the day of delivery,  packages are usually delivered  no later than 21:00.
            The package is delivered to the door and there needs to be an adult at home 
            to receive the order. If no one is at home to receive the package, delivery 
            officer will leave a notice at your door with information on how to book a 
            new delivery attempt.        
            Having problems with your  delivery? We recommend that you contact us as 
            soon as possible.        
            </p>
            <form action="{% url 'home' %}">
                <button class="btn btn-lg btn-black text-white">HOME</button>
            </form>
        </div>
    </div>
    <div style="height: 500px;" class="row mt-5">
    </div>
</div>
{% endblock %}