.Footop-newsletter {
    text-align: center;
    border-bottom: 1px solid #000000;
    padding-bottom: 56px;
    margin-bottom: 39px;
    background-color: #000000 !important;
    padding: 66px 0 40px;
}

.Footop-title {
    margin: 0;
    padding: 0;
}

.Footop-title h3 {
    font-size: 1.5rem !important;
    margin-bottom: 0;
    text-transform: uppercase !important;
    color: #000000 !important;
    font-weight: 700 !important;
    
}

input[type="text"] {
    color: #b4b4b4;
    height: 47px;
    padding: 0 0 0 20px;
    background: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    box-shadow: none;
}
input[type=text] {
webkit-box-sizing: border-box;
    box-shadow: none;
    box-sizing: border-box;
    color: #9097a1;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    width: 100%;
    border: 1px solid #eceef4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.bgcolor {
    background-color: #c33332 !important;
}

input[type="submit"] {
    border: 1px solid #c33332;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 47px;
    padding: 0 29px;
    text-transform: uppercase;
    background: none;
    border-radius: 4px;
    line-height: 45px;
    background-color: #c33332;
}